.float{
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.float1{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.float2{
    position: absolute;
    top: 2%;
    right: 5%;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}